/* body {
    background-color: hsla(0, 2%, 9%, 0.8);
    color: white;
} */

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;    /* To align items inside a dive horizontally*/
}

ul.nav-items {
    list-style-type: none;
    display: flex;
    padding: 1px;
}

ul.nav-items > li {
    padding: 10px;
}

.nav-items a {
    text-decoration: none;
    color: black;
} 

.logo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.card {
    width: 180px;
    margin: 10px;
    padding: 10px;
    border: none;
    max-height: 400px;
    max-width: 200px;
}

.card > img {
    width: 100%; /* Uses parent div(above css element) width as base */
    height: 180px;  /* Using the same as parent div(above css element) height as base */
    border: none;
    border-radius: 20px;
    object-fit: cover; /* Doesn't distort the image in the container with width and height */
}

/* Copy pasted the above and below css props, since the Link contains <a> tag */
.card > a > img {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 20px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

/* This removed the spacing between text */
.card img, .card h3, .card h4, .card h5 {
    margin: 0;
    padding: 0;
}

.card h5 {
    font-weight: normal;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap
}

.search-container {
    display: flex;
    justify-content: center;
    height: 50px;
}

.search-input {
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none; /*5px solid hsla(0, 0%, 100%, 0.80);*/
    width: 500px;
    background-color: hsla(186, 17%, 89%, 0.664);
    text-align: center;
}

.search-input:focus {
    outline: 0; /* This is added to remove outline border when we select input text(search box) element in ui */
}

.search-container > button {
    width: 80px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none; /* 5px solid hsla(180, 100%, 50%, 0.459); */
    background-color: hsla(180, 100%, 50%, 0.664);
    text-align: center;
    cursor: pointer;
}

.search-container > button:hover, .login-button:hover {
    background-color: hsl(172, 100%, 50%);
}

.login-button {
    width: 60px;
    height: 50px;
    background-color: hsla(180, 100%, 50%, 0.664);
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.shimmer-ui {
    width: 180px;
    height: 180px;
    background-color: hsl(0, 9%, 79%);
    border-radius: 20px;
    border: none;
    margin: 20px;
    padding: 10px;
}

.login-form {
    text-align: center;
}

.login-form div {
    margin: 10px;
}

.login-form input {
    border-radius: 5px;
    height: 30px;
    width: 200px;
    align-items: center;
}

.rememberme input {
    width: 15px !important;
    height: 15px !important;
}

.login-form > input {
    background-color: hsla(180, 100%, 50%, 0.664);
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
}

.login-form > input:hover {
    background-color: hsl(172, 100%, 50%);
}