/* body {
    background-color: hsla(0, 2%, 9%, 0.8);
    color: white;
} */

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* border: 1px solid black; */
}

ul.nav-items {
    list-style-type: none;
    display: flex;
    padding: 1px;
}

ul.nav-items > li {
    padding: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.card {
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border: none;
    max-height: 400px;
    max-width: 200px;
}

.card > img {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 20px;
    object-fit: cover; /* Doesn't distort the image in the container with width and height */
}

/* This removed the spacing between text */
.card img, .card h3, .card h4, .card h5 {
    margin: 0;
    padding: 0;
}

.card h5 {
    font-weight: normal;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap
}

.search-container {
    display: flex;
    justify-content: center;
    height: 50px;
}

.search-input {
    border-radius: 8px;
    border: 5px solid hsla(0, 0%, 100%, 0.76);
    width: 500px;
}

.search-container > button {
    border-radius: 5px;
    border: 5px solid hsla(180, 100%, 50%, 0.459);
    background-color: hsla(180, 100%, 50%, 0.459);
    margin-left: 10px;
}